@layer base {
  button {
    @apply focus:outline-none;
  }

  html,
  body,
  #__next {
    @apply h-full;
  }

  html {
    @apply bg-gray-100 dark:bg-gray-900;
    @apply text-gray-800 dark:text-white;
    font-size: clamp(1rem, 2.4vh, 1.4rem);
  }

  @font-face {
    font-family: 'SFProRounded';
    src: url('/fonts/SFProRounded/SFProRounded-Thin.otf');
    font-style: medium;
    font-weight: 300;
    font-display: swap;
  }

  @font-face {
    font-family: 'SFProRounded';
    src: url('/fonts/SFProRounded/SFProRounded-Regular.otf');
    font-style: medium;
    font-weight: 400;
    font-display: swap;
  }
}

@layer components {
  .btn {
    @apply text-xs uppercase tracking-tight;
    @apply py-2 px-4 rounded-sm;
    @apply flex flex-row justify-center;
    @apply focus:outline-none;
    @apply transition-colors;
  }
  .btn-primary {
    @apply bg-gray-800 text-white dark:bg-white dark:text-black;
    @apply hover:bg-gray-700 dark:hover:bg-gray-200;
  }

  .btn-secondary {
    @apply border border-gray-800 dark:border-white;
  }
  .card {
    @apply relative flex flex-col rounded-md overflow-hidden;
    @apply bg-gray-50 dark:bg-gray-800 shadow-md;
  }

  .fullscreen {
    @apply flex h-screen w-screen dark:text-gray-200 dark:bg-gray-800;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.25);
  }

  .text-shadow-md {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-none {
    text-shadow: none;
  }
}
