@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply focus:outline-none;
  }

  html, body, #__next {
    height: 100%;
  }

  @font-face {
    font-family: 'SFProDisplay';
    src: url('/fonts/SFProDisplay/SFProDisplay-Thin.otf');
    font-style: medium;
    font-weight: 100;
    font-display: swap;
  }

  @font-face {
    font-family: 'SFProDisplay';
    src: url('/fonts/SFProDisplay/SFProDisplay-Ultralight.otf');
    font-style: medium;
    font-weight: 200;
    font-display: swap;
  }

  @font-face {
    font-family: 'SFProDisplay';
    src: url('/fonts/SFProDisplay/SFProDisplay-Light.otf');
    font-style: medium;
    font-weight: 300;
    font-display: swap;
  }

  @font-face {
    font-family: 'SFProDisplay';
    src: url('/fonts/SFProDisplay/SFProDisplay-Regular.otf');
    font-style: medium;
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: 'SFProDisplay';
    src: url('/fonts/SFProDisplay/SFProDisplay-Medium.otf');
    font-style: medium;
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: 'SFProDisplay';
    src: url('/fonts/SFProDisplay/SFProDisplay-Semibold.otf');
    font-style: medium;
    font-weight: 600;
    font-display: swap;
  }

  @font-face {
    font-family: 'SFProDisplay';
    src: url('/fonts/SFProDisplay/SFProDisplay-Bold.otf');
    font-style: medium;
    font-weight: 700;
    font-display: swap;
  }

  @font-face {
    font-family: 'SFProDisplay';
    src: url('/fonts/SFProDisplay/SFProDisplay-Heavy.otf');
    font-style: medium;
    font-weight: 800;
    font-display: swap;
  }

  @font-face {
    font-family: 'SFProDisplay';
    src: url('/fonts/SFProDisplay/SFProDisplay-Black.otf');
    font-style: medium;
    font-weight: 900;
    font-display: swap;
  }

  @font-face {
    font-family: 'SFProRounded';
    src: url('/fonts/SFProRounded/SFProRounded-Thin.otf');
    font-style: medium;
    font-weight: 100;
    font-display: swap;
  }

  @font-face {
    font-family: 'SFProRounded';
    src: url('/fonts/SFProRounded/SFProRounded-Ultralight.otf');
    font-style: medium;
    font-weight: 200;
    font-display: swap;
  }

  @font-face {
    font-family: 'SFProRounded';
    src: url('/fonts/SFProRounded/SFProRounded-Light.otf');
    font-style: medium;
    font-weight: 300;
    font-display: swap;
  }

  @font-face {
    font-family: 'SFProRounded';
    src: url('/fonts/SFProRounded/SFProRounded-Regular.otf');
    font-style: medium;
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: 'SFProRounded';
    src: url('/fonts/SFProRounded/SFProRounded-Medium.otf');
    font-style: medium;
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: 'SFProRounded';
    src: url('/fonts/SFProRounded/SFProRounded-Semibold.otf');
    font-style: medium;
    font-weight: 600;
    font-display: swap;
  }

  @font-face {
    font-family: 'SFProRounded';
    src: url('/fonts/SFProRounded/SFProRounded-Regular.otf');
    font-style: medium;
    font-weight: 700;
    font-display: swap;
  }

  @font-face {
    font-family: 'SFProRounded';
    src: url('/fonts/SFProRounded/SFProRounded-Regular.otf');
    font-style: medium;
    font-weight: 800;
    font-display: swap;
  }

  @font-face {
    font-family: 'SFProRounded';
    src: url('/fonts/SFProRounded/SFProRounded-Regular.otf');
    font-style: medium;
    font-weight: 900;
    font-display: swap;
  }

  html {
    font-family: 'SFProDisplay';
  }
}

@layer components {
  .card {
    @apply relative rounded-md bg-gray-50 dark:bg-gray-800 dark:border-white border-black border-opacity-30;
  }

  .fullscreen {
    @apply flex h-screen w-screen dark:text-gray-200 dark:bg-gray-800;
  }

  .rounded {
    font-family: 'SFProRounded';
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.25);
  }

  .text-shadow-md {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-none {
    text-shadow: none;
  }
}
